Assignment4.dtd

<!ELEMENT products (product+)>
<!ELEMENT product (productName, price, quantity, category)>
<!ATTLIST product productID CDATA #REQUIRED>
<!ELEMENT productName (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT Electronics EMPTY>
<!ELEMENT Clothing EMPTY>
<!ELEMENT Books EMPTY>
